# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://hixxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbxxxx
SUPABASE_SERVICE_ROLE_KEY=eyJhbxxxxxx

# Stream
NEXT_PUBLIC_STREAM_API_KEY=4xxxxxxx
STREAM_API_SECRET=p5zxxxxxxxxx
